<%- include("partials/header") -%>
  <div class="container-fluid  card-container">
    <%for(let i=0;i<m_message.length;i++){%>
      <div class="each-card">
        <div class="upper-portion">
          <h1>
            <%= m_message[i].Title %>
          </h1>
          <p>
            <%= m_message[i].Date %>
          </p>
        </div>
        <div class="bottom-portion">
          <p id="txtalign">
            <%= m_message[i].Description.substring(0,100)+"..." %><a href="/posts/<%= m_message[i]._id %>">Read more</a>
          </p>
          <img src=<%=m_message[i].ImageLink%> class="pictures" alt="">
        </div>
      </div>
      <%}%>
  </div>
  <%- include("partials/footer") -%>